# Virtual environment
.venv/

# Python cache / bytecode
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# Но шаблон переменных окружения можно хранить в Git
!.env.example

# VS Code local settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Локальная пользовательская data
data.json